.collapse {
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;

    @media (max-width: 576px) {
        margin-bottom: 20px;
    }

    &[animation="1"] > .containerText {
        animation: open 200ms;
    }

    &[animation="0"] > .containerText {
        animation: close 600ms ease-in-out;
    }
}

.containerText {
    padding: 35px 30px 17px;
    background-color: #F7F7F7;
    border-radius: 5px;
    position: relative;
    bottom: 5px;
    height: 100%;

    @media (max-width: 576px) {
        padding: 25px 20px 10px;
    }
}

.button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #FF6060;
    border: none;
    color: white;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 10;

    &:hover {
        opacity: 0.7;
    }

    @media (max-width: 576px) {
        padding: 20px;
        height: 30px;
    }
}

.title {
    font-weight: 500;
    font-size: 1.3em;

    @media (max-width: 576px) {
        font-size: 1.1em;
    }
}

.icone {
    transition: transform 600ms;

    &[animation="1"] {
        transform: rotate(-180deg);
    }

    &[animation="0"] {
        transform: rotate(0deg);
    }
}

@keyframes open {
    0% {
        opacity: 0;
        max-height: 0;
        transform: translateY(-70px);
    }
    100% {
        opacity: 1;
        max-height: 400px;
        transform: translateY(0);
    }
}

@keyframes close {
    0% {
        opacity: 1;
        max-height: 400px;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        max-height: 0;
        transform: translateY(-70px);
    }
}
